<head>
  <title>Image manipulator</title>
</head>

<body>
</body>

<template name="not_found">
    <p>Sorry, the page you requested doesn't exist! Choose a page from the menu.</p>
</template>

<template name="loading">
    {{> spinner}}
</template>