<template name="editimage">
        <h2 id="title-image" class="{{editingImage.url}}">Editing: {{editingImage.name}}</h2>
        <div class="well imageDropArea">
          <button id="rotate" class="btn btn-default" >Rotate 45 degrees</button>
          <button id="translate" class="btn btn-default" >translate x by ­40px</button>
          <button id="scale" class="btn btn-default" >scale to 0.5</button>
          <button id="opacity" class="btn btn-default" >opacity to 0.5</button>
          <button id="reset" class="btn btn-default" >reset</button>
        </div>
        <div class="media well pull-left">
          <img id="edit-image" src="{{editingImage.url}}&store=images" alt="" class="img-rounded">
          <!-- <img src="{{editingImage.url store='thumbs'}}" alt="" class="img-rounded">
          <img src="{{editingImage.url store='rotate'}}" alt="" class="img-rounded">
          <img src="{{editingImage.url store='translate'}}" alt="" class="img-rounded">
          <img src="{{editingImage.url store='opacity'}}" alt="" class="img-rounded">
          <img src="{{editingImage.url store='scale'}}" alt="" class="img-rounded"> -->
        </div>
</template>